<footer class="footer"style="background-color:white;">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="#"><h3>About Us</h3></a></div>
                    </div>
                    <div class="footer_title">
                        Orcadeco is leading company which operate more than twenty countries
                        <a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'about' %}">View more</a>
                    </div>
                    <div class="footer_contact_text">
                    
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title"><h3>Services</h3></div>
                    <ul class="footer_list">
                        <li><a href="{% url 'promotion' %}"><h6 style="color:black;">Promotion</h6></a></li>
                        <li><a href="{% url 'delivery' %}"><h6 style="color:black;">Delivery Services</h6></a></li>
                        <li><a href="#"><h6 style="color:black;">Free fitting and inslotation</h6></a></li>
                    </ul>
                    <div class="footer_subtitle"></div>
                    <ul class="footer_list">
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title"><h3>Support</h3></div>
                    <ul class="footer_list">
                        <li><a href="{% url 'about' %}"><h6 style="color:black;">About Us</h6></a></li>
                        <li><a href="{% url 'contact' %}"><h6 style="color:black;">Contact Us</h6></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title"><h3>Connect</h3></div>
                    <ul class="footer_list">
                        <li><a href="https://api.whatsapp.com/send?phone=+255677100200"><span class="fa fa-whatsapp"style="font-size:34px"></span></a></li>
                        <li><a href="#"><h6 style="color:black;">Email:</h6></a></li>
                        
                    </ul>
                </div>
            </div>

        </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-12">
      <h3>Location</h3>
    <li><div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=dar%20es%20salaam%20orca&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">nord vpn deal</a></div><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div></li>
  </div>
  </div>
</div>
</footer>
<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                    <div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> ALL RIGHT RESERVED | Orca Deco</div>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
                    <div class="logos ml-sm-auto">
                        <ul class="logos_list">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>