{% load static %}
{% include 'mainoperation/navbar.html' %}
    <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "images/Orca Deco Catalogue_Page_07.jpg " %} " alt="Los Angeles" width="100%" height="6em">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_64.jpg" %}" alt="Chicago" width="100%" height="9em">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_64.jpg" %}" alt="Chicago" width="100%" height="9em">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_69.jpg" %} "alt="Chicago" width="100%" height="9em">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_70.jpg" %}" alt="Chicago" width="100%" height="9em">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_73.jpg" %}"alt="Chicago" width="100%" height="9em">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_28.jpg"  %}" alt="Chicago" width="100%" height="9em">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_52.jpg" %}" alt="Chicago" width="100%" height="9em">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_66.jpg" %}" alt="New York" width="100%" height="9em">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
    
    <br><br><br>
        <!-- Banner -->
   
        {% for living_product in living_products %}
        <br><br>
        <div class="container">
        <div class="row">
      <div class="col-md-6" >
      <div style="margin-left: 1rem;">
      <h2>{{living_product.name}}<h2>
       <p style="text-align: justify;margin-left: auto;margin-right: auto;">{{living_product.description}}
        <br><br>
        <a class="btn btn-outline-primary btn-sm" role="button" href="{% url living_product.category.category_name %}">View more</a>
       </p>
        </div>
          </div>
          <div class=" col-md-6">
                                            <div class="card">
                                             
                                                  <img src= "static/images/{{living_product.image}}"height="300">
                                                </div>
                                                
                                          </div>
                                          
                                      </div>
                                      <br>
                                      <br>
                                    </div>
                          
                          
                        
  {% endfor %}
        <!--New Arrival-->
        <div class="container">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
               New Arrivals 
            </h3>
            <div class="row">
              {% for new_arrival in new_arrival %}
               <div class="col-md-4">
                  <div class="card bg-light">
                     <img class="card-img-top" src="static/images/{{new_arrival.image}}"alt="Card image cap">
                     <div class="card-body">
                        <h4 class="card-title border-bottom pb-3">{{new_arrival.name}}</h4>
                        <h6 class="card-text"style="text-align:justify;">{{new_arrival.description}}</h6>
                        <a class="btn btn-outline-primary btn-sm" role="button" href="{% url new_arrival.category.category_name %}">View more</a>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            
<br></br>
            <!-- Popular category-->
            <h3>Popular categories</h3>
            <br>
            <div class="row">
              {% for popular_category in popular_category %}
                <div class="col-md-4"style="  margin-bottom:5px;">
                  <div class="column"> 
                    
                    <!-- Post-->
                    <div class="post-module"> 
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <div class="date"> <a href="#0">
                          <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                          </a> </div>
                        <img src="static/images/{{popular_category.image}}"class="img-responsive" alt="">
                        <br></br>
                        
                       </div>
                        
                      <!-- Post Content-->
                      <div class="post-content">
                        <p class="title" style="color: black;text-align:justify;margin-left:2rem;">{{popular_category.category_name}}</p>
                        <h6 style="color:black;text-align: justify;">{{popular_category.description}}</h6>
                        <a class="btn btn-outline-primary btn-sm" role="button" href="{% url popular_category.category_name %}">View more</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
        <!-- Population -->
        <!-- Footer -->
        {% include 'mainoperation/footer.html' %}