{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Living</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/arrival2.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></scr
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/slide.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/item.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/responsive.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'mainoperation/arrival2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/css.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/product_style.css'% }">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/sample.css'% }">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/regular_responsive.css'% }">
<link rel="stylesheet" type="text/css" href="{% static 'mainoperation/product_responsive.css'% }">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class="super_container">
       
        <!-- Header -->
        <header class="header">
            {% block content %}
            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/phone.png" alt=""></div>Dar es salaam:+255714496883</div>
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/mail.png" alt=""></div><a href="mailto:fastsales@gmail.com">Email:petermapolu1@gmail.com</a></div>
                            <div class="top_bar_content ml-auto">
                                <div class="top_bar_user">
                                    <div class="user_icon"><img src="images/user.svg" alt=""></div>
                                    <div><a href="Login.php">Login here</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>		
            </div>
    
            <!-- Header Main -->
    
            <div class="header_main">
                <div class="container">
                <div class="row">
            <!-- Main Navigation -->
            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="main_nav_content d-flex flex-row">
                                <!-- Main Nav Menu -->
                                <div class="main_nav_menu ml-auto">
                                    <ul class="standard_dropdown main_nav_dropdown">
                                        <li class="hassubs">
                                            <a href="Living.php">Living<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li>
                                                    <a href="coffee-sides-tables.php">Coffee & Sides Tables<i class="fas fa-chevron-down"></i></a>
                                                <li><a href="LivingSection.PHP">Bars<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="chairsection.php">Chairs<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Consoles.php">Consoles<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="LivingRoom.php">Living Room and Storage<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Mirrors.php">Mirrors<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="SofaBed.php">Sofa Bed<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Sofas.php">Sofas<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="TvMedia.php">Tv & Media Furniture<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="Dining.php">Dining<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                            <li>
                                                    <a href="Buffet.php">Buffets<i class="fas fa-chevron-down"></i></a>
                                                <li><a href="DiningChair.php">Dining Chairs<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="DiningSeat.php">Dining Seats<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="office.php">Office<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                            <li>
                                                    <a href="Candle.php">Desks & Tables<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li><a href="Decoration.php">Office Chairs<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="BasketBoxes.php">Office Sofa<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="MenuItem.php">Safes<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="HomeAccessories.php">Office Stationary<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="Decoration.php">Decoration<i class="fas fa-chevron-down"></i></a>
                                            <ul><li>
                                                    <a href="Candle.php">Candle<i class="fas fa-chevron-down"></i></a>
                                                </li>
                                                <li><a href="Decoration.php">Home Decoration<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="BasketBoxes.php">Basket & Boxes<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="MenuItem.php">Menu Item<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="HomeAccessories.php">Home Accessories<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="RugsTextiles.php">Rugs & Textiles<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                            <li><a href="Rugs.php">Rugs<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Bedding.php">Bedding<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="CurtainRails.php">Curtain Rails & Rods<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="CurtainBlinds.php">Curtain Blinds<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="CurtainPillows.php">Curtain Pillows<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="DoorMates.php">DoorMats<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="ChairsPads.php">Chairs Pads<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="OutDoor.php">Outdoor Mattress<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Plaids.php">Plaids<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Quits.php">Quilts<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="TeaBacks.php">Tea Backs<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="BeedRoom.php">BeedRoom<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                            <li>
                                                    <a href="BeedRoomSet.php">Beedroom set<i class="fas fa-chevron-down"></i></a>
                                                <li><a href="ChildrenBed.php">Children Beddroom<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Wardrobe.php">Wardrobe<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="Kitchen.php">Kitchen<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                            <li>
                                                    <a href="KitchenAccessories.php">Kitchen Accessories<i class="fas fa-chevron-down"></i></a>
                                                <li><a href="KichenFurnitur.php">Kichen Furniture<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="TeaCoffee.php">Tea & Coffee Cups<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="KichenLines.php">Kichen Lines<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="KichenElectronics.php">Kichen Electronics<i class="fas fa-chevron-down"></i></a></li>
                                                    <li><a href="PlasticKitchen.php">Plastic Kichen Articles<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="hassubs">
                                            <a href="OtherItem.php">Other Item<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li>
                                                    <a href="Lighting.php">Lighting<i class="fas fa-chevron-down"></i></a>
                                                <li><a href="Sport.php">Sports<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Luandry.php">Luandry & Cleaning<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="Children.php">Children<i class="fas fa-chevron-down"></i></a></li>
                                                <li><a href="BathRoom.php">Bathroom<i class="fas fa-chevron-down"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
    
                                <!-- Menu Trigger -->
    
                                <div class="menu_trigger_container ml-auto">
                                    <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                        <div class="menu_burger">
                                            <div class="menu_trigger_text">menu</div>
                                            <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            
            <!-- Menu -->
    
            <div class="page_menu">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="page_menu_content">
                                <div class="menu_contact">
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570</div>
                                    <div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </header>
        <!--slide header-->
        <div class="banner_2">
    <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
     
    </ul>
    {% endblock content %}
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/slick-1.8.0/slick.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>