{% load static %}
{% include 'mainoperation/navbar.html' %}
        <!--slide header-->
        <div class="banner_2">
    <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "images/Orca Deco Catalogue_Page_07.jpg " %} " alt="Los Angeles" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_64.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_64.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_69.jpg" %} "alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_70.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_73.jpg "%}"alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_28.jpg"  %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_52.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_66.jpg "%}" alt="New York" width="100%" height="300">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
    </div>
    <!--section panel-->
  <br><br>
    <section>
        <div class="container">
            <h2 style="align-items:center;padding-top:5%;">About Us</h2>
          <div class="card">
            <div class="row ">
                <div class="col-md-12">
                  <div class="card-block">
                    <h4 class="card-title"></h4>
                    <h6 class="card-text"> Orcadeco is leading company which operate more than twenty countries. </p>
                    <h6 class="card-text">Orca Deco is large high-end furniture and accessories store relatively new to Dar es Salaam. We carry a huge selection of high quality imported furniture and accessories for the home and garden. If you have not visited us, you don't know what you are missing.</p>
                    
                  </div>
                </div>
                
                <div class="col-md-12"style="padding-top:2em;">
                    <img src="{% static "images/Orca Deco Catalogue_Page_22.jpg" %}"class="w-100"style="height:100%;">
                  </div>
              </div>
            </div>
          </div>
    </div>
      </section>
<!--end section panel-->
<!-- Footer -->
{% load static %}
{% include 'mainoperation/footer.html' %}