{% load static %}
{% include 'mainoperation/navbar.html' %}
        <!--slide header-->
        <div class="banner_2">
    <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "images/Orca Deco Catalogue_Page_33.jpg " %} " alt="Los Angeles" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_34.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_38.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_39.jpg" %} "alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_30.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_31.jpg "%}"alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_34.jpg"  %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_35.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_36.jpg "%}" alt="New York" width="100%" height="300">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
    </div>
 
    <!--section panel-->
    <br><br><br>
    <!--section panel-->
    <div class="container">
      <h6>Beed room  Category\Childrenbeedroom</h6>
        <div id="products" class="row view-group">
          {% for  childrenbeedroom_product in  childrenbeedroom_products  %}
          <div class="item col-xs-4 col-lg-4">
              <div class="thumbnail card">
                  <div class="img-event">
                      <img class="group list-group-image img-fluid" src="../../static/images/{{ childrenbeedroom_product.image}}" alt="" />
                  </div>
                  <div class="caption card-body">
                      <h4 class="group card-title inner list-group-item-heading">
                        {{ childrenbeedroom_product.name }}</h4>
                      <h6 class="group inner list-group-item-text"style="text-align: justify;">
                        {{ childrenbeedroom_product.description }}
                      </h6>
                      
                          </div>
                        
              </div>
              
              <br><br>
          </div>
          {% endfor %}
         
         
      </div>
    </div>
<!--end section panel-->
<!-- Footer -->
{% load static %}
{% include 'mainoperation/footer.html' %}
