{% load static %}
{% include 'mainoperation/navbar.html' %}
        <!--slide header-->
        <div class="banner_2">
    <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
<!-- The slideshow -->
<div class="carousel-inner">
  <div class="carousel-item active">
	<img src="{% static "images/Orca Deco Catalogue_Page_46.jpg" %}"alt="Los Angeles" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{% static "images/Orca Deco Catalogue_Page_47.jpg" %}" alt="Chicago" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{% static "images/Orca Deco Catalogue_Page_43.jpg" %}" alt="Chicago" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{% static "images/Orca Deco Catalogue_Page_50.jpg" %}" alt="Chicago" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{% static "images/Orca Deco Catalogue_Page_49.jpg" %}" alt="Chicago" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{% static "images/Orca Deco Catalogue_Page_45.jpg" %}"alt="Chicago" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{% static "images/Orca Deco Catalogue_Page_48.jpg" %}" alt="Chicago" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{% static "images/Orca Deco Catalogue_Page_51.jpg" }%}"alt="Chicago" width="100%" height="300">
  </div>
  <div class="carousel-item">
	<img src="{%static "images/Orca Deco Catalogue_Page_44.jpg" %}"alt="New York" width="100%" height="300">
  </div>
</div>
<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>
</div>

<!---SLIDE-------------->  
<br><br>
<section class="pt-5 pb-5">
    <div class="container">
      <h4>Office Category</h4>
      <br><br>
      <div class="row mb-md-2">
        {% for   office_product in office_products  %}
          <div class="col-md-6 col-lg-4">
              <div class="card shadow-sm border-light mb-4">
                  <a href="#" class="position-relative">
                      <img src="../../static/images/{{office_product.image}}" class="card-img-top" alt="image"> </a>
                  <div class="card-body">
                      <a href="#">
                        
                          <h6 style="text-align: justify;">
                            {{office_product.description}}
                          </h6>
                      </a>
                      <div class="d-flex my-4">
                        
                      </div>
                      
                  </div>
              </div>
              
          </div>
          {% endfor %}
        
      </div>
     
  </div>
  </section>
  
  </div>
  </div>
  </div>
  
      <!-- Footer -->
    {% load static %}
  {% include 'mainoperation/footer.html' %}
  