{% load static %}
{% include 'mainoperation/navbar.html' %}
        <!--slide header-->
        <div class="banner_2">
    <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "images/Orca Deco Catalogue_Page_07.jpg " %} " alt="Los Angeles" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_64.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_64.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_69.jpg" %} "alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_70.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_73.jpg "%}"alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_28.jpg"  %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static  "images/Orca Deco Catalogue_Page_52.jpg" %}" alt="Chicago" width="100%" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static "images/Orca Deco Catalogue_Page_66.jpg "%}" alt="New York" width="100%" height="300">
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
    </div>
    </div>
   
    <!--section panel-->
    <br><br>
    <section>
        <div class="container">
            <h2 style="align-items:center;padding-top:5%;"> Delivery Services</h2>
          <div class="card">
            <div class="row ">
              <div class="col-md-12">
                <div class="card-block">
                  <h4 class="card-title"></h4>
                  <h6 class="card-text">Orca Deco offers delivery services within dar es salaam and  free instolation as well as free-of-charge within a Dar es Salaam.

                    We guarantee delivery and assembly of your purchases within 1 to 2 working  days. Free of charge for purchases over deliver services
                    
                    For any inquiries about our Delivery Services, please contact our Customer Service Representatives on <br>
                    +233(0) 50 139 5834 in Accra and +233(0) 50 163 3554 in Kumasi.
                  </h6>
                  
                  
                </div>
                <div class="col-md-12">
                  <img src="{% static "images/Orca Deco Catalogue_Page_56.jpg" %}"class="w-100"style="height:100%;">
                  <br><br>
                    
                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      </section>

<!-- Footer -->
{% load static %}
{% include 'mainoperation/footer.html' %}